.logo {
    width: 45px;
    max-width: 100px;
    max-height: 50px;
    margin: 0px 2px
}
.logo_marca {
    max-width: 200px;
    max-height: 50px;
    margin: 0px 2px
}

.container_logo {
    display: flex;
    flex-direction: row;
    width: 45%;
}
